<%- include header.ejs %>

<%- include side-menu.ejs %>

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <h1 class="bd-title" id="content">Regions</h1>
  <p class="bd-lead">Choose your region.</p>
  <!-- <h2 id="quick-start">Suas Stations</h2> -->
  <p>Current region: <%= currentRegion.name %>.</p>


  <ul class="list-group">
    <% regions.forEach(function(region){ %>
        <a href="/regions/<%= region.name %>" class="list-group-item list-group-item-action">
          <%= region.name %> - <%= region.endpoint %>
        </a>
    <% }); %>
  </ul>
</main>

  
<%- include scripts.ejs %>

  <script type="text/javascript" charset="utf-8" async defer>
  </script>

<%- include footer.ejs %>