<%- include header.ejs %>

<%- include side-menu.ejs %>

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <h1 class="bd-title" id="content">Instances</h1>
  <p class="bd-lead">These are your instances for the current region.</p>

  <!-- <ul class="list-group"> -->
    <% instances.forEach(function(instance){ %>
    	<p class="bd-lead">
    		<%= instance.description %>
    	</p>
    <% }); %>
  <!-- </ul> -->
</main>

  
<%- include scripts.ejs %>

  <script type="text/javascript" charset="utf-8" async defer>
  </script>

<%- include footer.ejs %>