<%- include header.ejs %>

<%- include side-menu.ejs %>

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <h1 class="bd-title" id="content">Instance Created</h1>
  <p class="bd-lead">Your instance is being initialized, this might take a few minutes.</p>
  <p class="bd-lead">Instance id: <%= instanceId %></p>
</main>
  
<%- include scripts.ejs %>

  <script type="text/javascript" charset="utf-8" async defer>
  </script>

<%- include footer.ejs %>