<%- include header.ejs %>
<head>
  <link href="<%- siteURL %>public/css/form-validation.css" rel="stylesheet">
</head>

<%- include side-menu.ejs %>

<main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <h1 class="bd-title" id="content"><%= station.name %></h1>
  <!-- <p class="bd-lead">Cada Station representa um bar, restaurante ou ponto de venda de cerveja.</p> -->
  <!-- <h2 id="quick-start">Suas Stations</h2>
  <p>Para ver mais detalhes ou editar basta clicar na que você desejar.</p> -->

    <div class="container">
      <div class="row">
        <!-- <div class="col-md-4 order-md-2 mb-4">
        </div> -->
        <div class="col-md-12 order-md-1">
          <!-- <h4 class="mb-3">Dados</h4> -->
          <form class="needs-validation" action="/stations/<%= station.formUrlPath %>" method="post" enctype="application/x-www-form-urlencoded" novalidate>
            <input type="hidden" name="_method" value="<%= station.method %>" />
            <div class="mb-3">
              <label for="name">Nome</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="" value="<%= station.name %>" required>
              <div class="invalid-feedback">
                Nome é obrigatório.
              </div>
            </div>

            <div class="mb-3">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com" value="<%= station.email %>">
              <div class="invalid-feedback">
                Entre com um email válido.
              </div>
            </div>

            <div class="mb-3">
              <label for="website">Site</label>
              <input type="text" class="form-control" name="website" id="website" placeholder="" value="<%= station.website %>" required>
              <div class="invalid-feedback">
                Site é obrigatório.
              </div>
            </div>

            <div class="mb-3">
              <label for="telephone">Telefone</label>
              <input type="text" class="form-control" name="telephone" id="telephone" placeholder="" value="<%= station.telephone %>" required>
              <div class="invalid-feedback">
                Telefone é obrigatório.
              </div>
            </div>

            <div class="mb-3">
              <label for="logoUrl">URL do Logo</label>
              <input type="text" class="form-control" id="logoUrl" name="logoUrl" placeholder="" value="<%= station.logoUrl %>" required>
              <div class="invalid-feedback">
                Logo é obrigatório.
              </div>
            </div>

            <div class="mb-3">
              <label for="address">Endereço</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="1234 Main St" value="<%= station.address %>" required>
              <input type="hidden" name="_lat" value="<%= station.lat %>" />
              <input type="hidden" name="_long" value="<%= station.long %>" />
              <div class="invalid-feedback">
                Entre um endereço válido
              </div>
            </div>

            <div class="mb-3">
              <label for="active">Status</label>
              <select class="custom-select d-block w-100" id="active" name="active" required>
                <option>Escolha...</option>
                <option value="true" selected>Ativa</option>
                <option value="false" >Desativada</option>
              </select>
              <div class="invalid-feedback">
                Selecione um status válido.
              </div>
            </div>

            <hr class="mb-4">

            <div class="mb-3">
              <label for="active">Horários</label>


              <div class="row">
                <div class="col-md-2">
                  <input type="checkbox" name="mondayCheckbox"> Segunda</input>
                </div>
                <div class="col-md-2">
                  <input type="time" class="form-control" name="mondayOpeningTime">
                </div>
                às
                <div class="col-md-2">
                  <input type="time" class="form-control" name="mondayClosingTime">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <input type="checkbox" name="tuesdayCheckbox"> Terça</input>
                </div>
                <div class="col-md-2">
                  <input type="time" class="form-control" name="tuesdayOpeningTime">
                </div>
                às
                <div class="col-md-2">
                  <input type="time" class="form-control" name="tuesdayClosingTime">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <input type="checkbox" name="wednesdayCheckbox"> Quarta</input>
                </div>
                <div class="col-md-2">
                  <input type="time" class="form-control" name="wednesdayOpeningTime">
                </div>
                às
                <div class="col-md-2">
                  <input type="time" class="form-control" name="wednesdayClosingTime">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <input type="checkbox" name="thursdayCheckbox"> Quinta</input>
                </div>
                <div class="col-md-2">
                  <input type="time" class="form-control" name="thursdayOpeningTime">
                </div>
                às
                <div class="col-md-2">
                  <input type="time" class="form-control" name="thursdayClosingTime">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <input type="checkbox" name="fridayCheckbox"> Sexta</input>
                </div>
                <div class="col-md-2">
                  <input type="time" class="form-control" name="fridayOpeningTime">
                </div>
                às
                <div class="col-md-2">
                  <input type="time" class="form-control" name="fridayClosingTime">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <input type="checkbox" name="saturdayCheckbox"> Sábado</input>
                </div>
                <div class="col-md-2">
                  <input type="time" class="form-control" name="saturdayOpeningTime">
                </div>
                às
                <div class="col-md-2">
                  <input type="time" class="form-control" name="saturdayClosingTime">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  <input type="checkbox" name="sundayCheckbox"> Domingo</input>
                </div>
                <div class="col-md-2">
                  <input type="time" class="form-control" name="sundayOpeningTime">
                </div>
                às
                <div class="col-md-2">
                  <input type="time" class="form-control" name="sundayClosingTime">
                </div>
              </div>

                
              </div>

          

            <hr class="mb-4">

            <button class="btn btn-secondary btn-lg" type="submit">Salvar</button>
            <button class="btn btn-danger btn-lg" type="cancel">Cancelar</button>
          </form>
        </div>
      </div>

    </div>










</main>

  
<%- include scripts.ejs %>

  
  <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>

<%- include footer.ejs %>